<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2" style="display: flex;justify-content: space-between;align-items: center;">

    <div>
      Fermes
    </div>
    <div class="col-md-4">
      <!-- <i class='bx bx-search icon fa-2x py-1'></i> -->
      <input class="form-control border-0 border-2 border-start border-end border-alert" type="text"
        placeholder="rechercher" [(ngModel)]="filterTerm">
    </div>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let ferme of touteLesFerme | filter:filterTerm">
          <div class="card">
            <img src="{{ferme.imageferme}}" class="card-img-top" alt="..." height="150px">
            
            <div class="card-body">
              <h5 class="card-title ion-text-center">{{ferme.nomferme}}</h5>
              <!-- <p class="card-text">{{ferme.description}}</p> -->
              <div align="center"><button class=""
                  style="border: none;font-size: 25px;border-radius: 5px 5px; background-color: #04CF72;"><span><a
                      style=" color: white;text-align: center;text-decoration: none;font-size: 15px;"
                      [routerLink]="['/detail-ferme',ferme.idferme]">Voir plus</a> </span></button></div>
              <!-- [routerLink]="['/detail-ferme',ferme.idferme]" -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>