:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #fff;
  }

  @media screen and (max-width: 940px){

    mat-drawer {
      width: 90px;
    }
    
  }