<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/img/logo2.png" alt="Company Logo" width="10%"/>
    </div>
    <mat-divider></mat-divider>
    <div class="matSubheader">
<h2  class="mt-2"> </h2>
    </div>
    
    <mat-list-item routerLinkActive="dashboardControleFacile"  routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> <span>Dashboard</span> 
    </mat-list-item>
  
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/acceuil">
      <mat-icon>store</mat-icon> <span>Fermes</span>
    </mat-list-item>
    
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/produits">
      <mat-icon>add_shopping_cart</mat-icon> <span>Produits</span>
    </mat-list-item>
    
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/Formation">
      <mat-icon>school</mat-icon> <span>Formations</span>
    </mat-list-item>
    
    
  </mat-nav-list>
